<div
  class="cover d-flex justify-content-center align-items-center"
  style="
    background-image: url('https://www.nme.com/wp-content/uploads/2020/06/Empty_cinema.jpg');
    height: 350px;
  "
>
  <h1 class="text-center text-white">Bookmark your favourite movies!</h1>
</div>

<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0">My Lists</h3>
    <%= link_to "Create a movie list", new_list_path, class: "btn btn-flat"%>
  </div>

  <div class="row">
    <% @lists.each do |list| %>
      <div class="col-12 col-sm-6 col-md-4 mb-3">
        <%= link_to list_path(list), class: "text-decoration-none" do %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('arnie.jpg') %>)">
            <%= list.name %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<!-- app/views/articles/index.html.erb -->
<%= cl_image_tag("bhh8ot7craulwsoiluhs",
      width: 400, height: 300, crop: :fill) %>

<!-- for face detection -->
<%= cl_image_tag("ozyezeuu3cgcsclnni2z",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>
